@mixin flexible () {
  box-sizing: border-box;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10%;
}

@mixin before-flex-item {
  content:'';
  float:left;
  padding-top:100%;
  width: 100%;
}



.flex-item {
  @include flexible();

  &:before {
  @include before-flex-item();
  background: blue;
}
}

.flex-item-red {
  @include flexible();

  &:before {
    @include before-flex-item();
    background: red;
  }
  }