.board {
    width:40%;
    margin: 0 auto;
  }
  
  .flex-container {
      padding: 3;
      margin: 3;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row;
      flex-wrap: wrap;  
      justify-content: space-evenly;
  }
